<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.9"></script>
    <script
      type="module"
      src="https://unpkg.com/@fluentui/web-components"
    ></script>
    <link rel="stylesheet" href="/public/index.css" />
  </head>
  <body>
    {{template "globals/header" .}}

    <br />

    <fluent-button
      appearance="accent"
      hx-post="/clicked"
      hx-trigger="click"
      hx-target="#parent-div"
      hx-swap="outerHTML"
      >Hello world</fluent-button
    >

    <br />

    <div id="parent-div">Hello world</div>

    {{template "globals/footer" .}}
  </body>
</html>
